.head {
    position: fixed;
    z-index: 5;
    text-align: left;
    font-size: 150%;
    background-color: black;
    background-size: 110% 50%;
    margin-top: -12rem;
    margin-left: -0.5rem;
    margin-right: -1rem;
    padding-right: 4vw;
    width: 100.6%;
    display: flex;
    direction: rtl;
}

.heading {
    direction: ltr;
    text-align: right;
    display: flex;
    margin: 2vh 4vw 3vh 3vw;

}

.bar-div {
    color: #ffffff;
    font-size: 100%;
    flex: 0 2 10vw;
    box-sizing: content-box;
    width: 10vw;
    padding-top: 3vw;
    padding-right: 0vw;
    margin: 0%;
}

#bar-div2 {
    color: rgb(255, 255, 254);
    margin-left: 10vw;
}

.bar-sym {
    font-size: 100%;
    flex: 0 2 10vw;
    box-sizing: content-box;
    width: 10vw;
    padding-top: 3vw;
    padding-left: 2vw;
    padding-right: 0vw;
    margin: 0%;
    margin-right: 45vw;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-image: url(G00050000657.jpg);
    background-position: 100%;
}

.show {
    display: flex;
    border-radius: 25px;
    box-sizing: content-box;
    width: 90vw;
    height: 70vh;
    margin: 20vh 5vw -3vh 5vw;
    padding: 0vh;
    background-color: rgba(0,0,0, 0.5)
}

.card {
    background: none;
}

.show-img {
    padding: 0%;
    flex: 1 2 100px;
}

.show-img img {
    position: relative;
    top: 5vw;
    left: 6rem;
}

#cd {
    flex: 1 2 200px;
    color: #ffffff;
    border: none;
    margin-top: 5vh;
}

#cd-bd {
    margin-top: 15vh;
    padding-left: 5vh;
    padding-top: 0vh;
}


.card-text {
    opacity: 1;
    transform: translateY(-15vh);
    transition: all 3s ease-out;
    transition-delay: 0s;
    transform-box: content-box;
    position: relative;
    font: 250% bolder;
    padding: 0%;
    margin: 0%;
    margin-bottom: 6vh;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
    padding-bottom: 0vh;
}
#bq-footer {
    color: white;
    font-size: larger;
    text-align: right;
    padding-right: 5vw;
}

.project {
    background-color: rgb(255, 255, 255);
    margin-top: 5vh;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}

.project p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
    text-align: center;
}

.pros {
    padding: 0% 10vw 5vh 0vw;
    display: flex;
    flex-wrap: nowrap;
}

.pro-image {
    border-radius: 5%;
    margin: 1vmax;
    margin-top: 0.5vmax;

}

.pro {
    display: flex;
    flex-direction: row-reverse;
    padding: 0vh;
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right: 0vh;
    flex: 1 3 100vw;
    text-align: center;
}

.pro p {
    font-size: 150%;
    padding: 0vh 0vw 0vh 0vw;
    margin: 0vh 0vw 0vh 0vw;
}

.flip-container2 {
    perspective: 1000px;
    width: 200px;
    height: 400px;
    margin: 0vh 7vw -3vh -2vh;
    padding: 20%;
    flex: 1 2 100px;
}

.flip-container2:hover .flipper2 {
    transform: rotateY(180deg);
}

.flipper2 {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: center;
}

.front2,
.back2 {
    top: -5vh;
    left: 0vw;
    
    position: absolute;
    backface-visibility: hidden;   
}

.front2 img{
    border-radius: 25px;
}

.front2 a{
    color: black;
    font: 150% bold;

}

.back2 {
    border-radius: 25px;
    transform: rotateY(180deg);
    width: 350px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    left: -13vw;
    top: -6vh;
}

.back2 p{
    font-size:150%;
}


.cont {
    font-size: 180%;
    margin: 0vh 30vw 0vh 32vw;
    padding: 0%;
}


#btn-1 {
    text-align: left;
    background-color: white;
    border-radius: 18px;
    padding-left: 2vw;
    width: 25vw;
    z-index: 4;
}

.star {
    text-align: center;
    padding-right: 2.5vw;
}

.joke {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 1vh;
    padding-top: 8vh;
}

.joke img {
    border-radius: 10px;
}

.joke p {
    padding: 0px 20vw 0px 20vw;
    font-size: 150%;
}

.joke footer {
    font-size: 120%;
}

.contact-info {
    
    text-align: center;
    background-color: #8bce33;
    color: WHITE;
    padding-top: 8vh;
    padding-bottom: 5vh;
}

.contact-info span {
    border: 1px solid black;
    box-sizing: content-box;
    width: 1vmin;
    height: 1vmin;
    margin: 4vmin;
    padding: 2.4vmin;
}

.contact-info h2 {
    margin-bottom: 5vh;
}

.contact-info p {
    margin-top: 3vh;
}

.contact-info a {
    padding-right: 2vh;
}
